Java-4-sem-/Лабы/Lab5/files/XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="programmer">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="age" type="xs:positiveInteger"/>
                <xs:element minOccurs="1" maxOccurs="1" name="experince" type="xs:positiveInteger"/>
                <xs:element minOccurs="1" maxOccurs="1" name="qualification" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

